/***************************************************************************

	FrenchPress.Play Custom Stylesheet

	Colors used: 
	White Fonts           : #ffffff
	Green          : #549666
	Light Grey Background : #f7f7f7
	thin Dark Grey Text   : #5a5a5a;
	black footer		  : #191919

****************************************************************************/


/*----------------------------------------------------------------------------
*	FrenchPress.Play green color emphasis with shadow reference and other varied title colors
-----------------------------------------------------------------------------*/
mark {
  color: #2e723e;
  background: transparent;
  font-weight: bold;
   text-shadow: 1.5px 1.5px 1.5px black, 0 0 35px white, 0 0 5px #ffffff;
  font-size: 28px;
}
h6 {
	color: #549666;
}
.centered-text {
	text-align: center;
}

 /*----------------------------------------------------------------------------
}
}
}
}
*	FrenchPress.Play green color emphasis with shadow reference
-----------------------------------------------------------------------------*/

#intro.item {
   opacity: 0.8;
   text-shadow: 2px 2px black;
}
div.modal-body {
	color: #5a5a5a;
}

}
/*NEWS API CSS############################################*/
button, div, form, input {
	margin: 10px;

}
img {
	width: 500px;
}
#newsView {
	width: 500px;
}

